.content__text {
  margin: 0;
  padding: 50px 35px 55px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.content__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;

  list-style: none;
}

.content__wrap {
  width: 280px;
  padding: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;

  background-color: #f2f2f2;
}

.content__image {
  display: block;
  width: 280px;
  height: 180px;
  margin: 0 auto;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.photo-1 {
  background-image: url("../img/photo-car-mobile@1x.jpg");
}

.photo-2 {
  background-image: url("../img/photo-drumset-mobile@1x.jpg");
}

.photo-3 {
  background-image: url("../img/photo-window-mobile@1x.jpg");
}

.photo-4 {
  background-image: url("../img/photo-fair-mobile@1x.jpg");
}

.photo-5 {
  background-image: url("../img/photo-pov-mobile@1x.jpg");
}

.photo-6 {
  background-image: url("../img/photo-wing-mobile@1x.jpg");
}

.content__author-name {
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  font-weight: 700;
}

.content__time {
  display: inline;

  font-size: 12px;
  text-transform: uppercase;
  color: #8f9499;
}

.content__review {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 24px;
}

.content__likes {
  font-size: 12px;
  text-transform: uppercase;
  color: @pink-color;
}

@media (min-width: @tablet-width) {
  .content__text {
    padding-top: 98px;
    padding-bottom: 80px;
    font-size: 18px;
  }

  .content__list {
    justify-content: space-between;
    width: 620px;
    margin: 0 auto;
  }

  .content__image {
    width: 300px;
    height: 300px;
  }

  .content__wrap {
    width: 300px;
  }

  .photo-1 {
    background-image: url("../img/photo-car-tablet@1x.jpg");
  }

  .photo-2 {
    background-image: url("../img/photo-drumset-tablet@1x.jpg");
  }

  .photo-3 {
    background-image: url("../img/photo-window-tablet@1x.jpg");
  }

  .photo-4 {
    background-image: url("../img/photo-fair-tablet@1x.jpg");
  }

  .photo-5 {
    background-image: url("../img/photo-pov-tablet@1x.jpg");
  }

  .photo-6 {
    background-image: url("../img/photo-wing-tablet@1x.jpg");
  }
}

@media (min-width: @desktop-width) {
  .content__list {
    width: 940px;
  }
}
