.download {
  padding-top: 400px;
  padding-bottom: 10px;

  background-color: @base-color;
  background-image:
    url("../img/iphone-hand-mobile@1x.png"),
    url("../img/bg-back-mobile@1x.jpg");
  background-position:
    0 105px,
    0 -70px;
  background-repeat:
    no-repeat,
    no-repeat;
}

.download__button-border {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  min-height: 53px;

  text-align: center;

  border: #ffffff solid 2px;
  border-radius: 30px;
}

.download__button {
  color: #ffffff;
  font-weight: 700;
  line-height: 18px;
}

.download__text {
  display: block;
  margin: 20px 45px;

  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: #ffffff;
}
