.download {
  display: flex;
  flex-direction: column;

  background-color: #1d2631;
}

.download__title {
  display: block;
  padding: 90px 20px;
  box-sizing: border-box;
  text-align: center;
  height: 465px;

  font-size: 24px;
  font-weight: 300;
  color: #ffffff;

  background-image:
    url("../img/iphone-hand-mobile@1x.png"),
    url("../img/bg-back-mobile@1x.jpg");
  background-position:
    50% 100%,
    50% 100%;
  background-repeat:
    no-repeat,
    no-repeat;
  background-size: auto, cover;
}

.download__button-wrap {
  display: flex;
  justify-content: center;
  min-height: 53px;
  margin-top: 28px;
}

.download__button {
  margin-bottom: 30px;
  padding: 18px 10px;
  width: 280px;
  box-sizing: border-box;

  color: #ffffff;
  font-weight: 700;
  line-height: 18px;
  text-align: center;

  border: #ffffff solid 3px;
  border-radius: 30px;
}

.download__text {
  display: block;
  margin-top: 25px;
  margin-bottom: 35px;

  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: #ffffff;
}

.download__wrap {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .download {
    min-height: 620px;
    padding-right: 320px;

    background-image:
      url("../img/iphone-hand-tablet@1x.png"),
      url("../img/bg-back-tablet@1x.jpg");
    background-size: auto;
    background-position:
      50% 100%,
      50% 100%;
    background-repeat: no-repeat;
  }

  .download__wrap {
    width: 300px;
  }

  .download__title {
    height: auto;
    width: 280px;
    margin: 0 auto;
    padding-top: 225px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;

    font-size: 40px;

    background: none;
  }

  .download__text {
    margin-top: 40px;
    font-size: 18px;
  }

  .download__button {
    width: 300px;
    margin-bottom: 35px;
  }
}

@media (min-width: @desktop-width) {
  .download {
    min-height: 853px;
    padding-right: 770px;
    background-image:
      url("../img/iphone-hand-desktop@1x.png"),
      url("../img/bg-back-desktop@1x.jpg");
    background-position:
      50% 100%,
      50% 100%;
  }

  .download__title {
    font-size: 50px;
  }

  .download__button {
    font-size: 21px;
  }
}
