.features {
  width: 320px;
  margin: 0 auto;
}

.features__main-title {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: @base-color;
}

.features__list {
  padding: 40px 0 325px;

  background-color: #f2f2f2;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-position: 50% 100%;
  background-repeat: no-repeat;
}

.features__item {
  list-style: none;
}

.features__title {
  margin: 0;
  margin-bottom: 12px;

  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.features__text {
  margin: 0;
  margin-bottom: 33px;
  padding: 0 30px;

  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .features {
    width: @tablet-width;
  }

  .features__list {
    padding-left: 330px;
  }
}

@media (min-width: @desktop-width) {
  .features {
    width: @desktop-width;
  }

  .features__list {
    display: flex;
    padding-left: 0;
  }
}
