.form {
  .mobile-width();
}

.form__title {
  .title();
}

@media (min-width: @tablet-width) {
  .form {
    width: @tablet-width;
  }

  .form__title {
    min-height: 330px;

    background-image: url("../img/bg-back-tablet@1x.jpg");
  }
}

@media (min-width: @desktop-width) {
  .form {
    width: @desktop-width;
  }

  .form__title {
    min-height: 395px;

    background-image: url("../img/bg-back-desktop@1x.jpg");
  }
}
