.header {
  background-color: @base-color;
}

.header__container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.header__logo {
  display: flex;
  align-items: center;
  min-height: 70px;
  margin-left: 20px;
  width: 75px;
  height: 22px;
}

.header__mobile-top {
  display: flex;
  min-height: 70px;
}

@media (min-width: @tablet-width) {
  .header__logo {
    min-height: 110px;
  }
}

@media (min-width: @desktop-width) {
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .header__container {
    flex-direction: row;
    width: 940px;
  }
}
