.site-list {
  margin: 0;
  padding: 0;

  border-top: #000001 solid 1px;
}

.site-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 65px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;

  list-style: none;

  border-top: #485461 solid 1px;
  border-bottom: #000001 solid 1px;
}

.site-list__link {
  font-weight: 700;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;
}

@media (min-width: @desktop-width) {
  .site-list {
    border: none;
  }

  .site-list__item {
    border: none;
  }
}
